*{
    margin:0px;
    padding:0px;
    font-family: 'Comfortaa';
    font-style: normal;
}
body, html{
    min-height: 100%;
    min-width: 100%;
    overflow-x:hidden;
}
@media (max-width: 500px){
html, body{
    max-width: 500px;
}
}
