/* 
.form-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    margin-bottom: 80px;
   
}
.label{
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}
.name-input{
    width: 400px;
    height: 40px;
    padding:10px;
    
    background: #FFFFFF;
    border: 1px solid #E8ECF4;
    border-radius: 8px;
}
.name-input-area{
    width: 400px;
    height: 200px;
    padding:10px;
    border-radius: 8px;

 
    background: #FFFFFF;
    border: 1px solid #E8ECF4;
}
.form1{
    margin-bottom:15px;
}
.submit-button{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 24px;

width: 89px;
height: 43px;

font-weight: 500;
font-size: 18px;
line-height: 150%;

color: #25282B;


background: #FDC435;
border-radius: 8px;
;
border:0px;
}
.message{
    color:green;
    padding:12px;
}
.project-heading{
    font-weight: 700;
font-size: 48px;
line-height: 72px;

text-align: center;


color: #25282B;
margin-bottom:15px;
} */